<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>ServletDyn</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.xhtml</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.xhtml</welcome-file>
  </welcome-file-list>
  <!--
   <servlet>
  	<servlet-name>FormValues</servlet-name>
  	<display-name>FormValues</display-name>
  	<description></description>
  	<servlet-class>dynserv.FormValues</servlet-class>
  	</servlet>
  	 --> 
  <!--  <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>servletsAssignments.RegisterServlet</servlet-class>
    </servlet>

     <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    --> 
    <!--   <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>servletsAssignments.RegisterServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    

    <welcome-file-list>
        <welcome-file>StudentForm.html</welcome-file>
    </welcome-file-list>-->
    
   <servlet>
    <servlet-name>AddToCartServlet</servlet-name>
    <servlet-class>servletsAssignments.AddToCartServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>AddToCartServlet</servlet-name>
    <url-pattern>/addToCart</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>ViewCartServlet</servlet-name>
    <servlet-class>servletsAssignments.ViewCartServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>ViewCartServlet</servlet-name>
    <url-pattern>/viewCart</url-pattern>
</servlet-mapping>
<servlet>
    <servlet-name>ViewVendorServlet</servlet-name>
    <servlet-class>servletsAssignments.ViewVendorServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>ViewVendorServlet</servlet-name>
    <url-pattern>/viewVendors</url-pattern>
</servlet-mapping>
    
 </web-app>